rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /transactions/{document=**} {
      // must be authenticated to create
      allow create: if request.auth != null;

      // signed in user uid must match the document creator uid to read and delete
      allow read, delete: if request.auth.uid == resource.data.uid;
    }
  }
}